<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" href="/static/app-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/app-icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/app-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/app-icon.png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <style>
        body {
            padding-top: 70px;
        }
    </style>

    <title>Points!</title>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="/">Points App</a>
          <div class="navbar-right text-right">
              <a class="btn navbar-btn btn-success navbar-right" href="{% url 'give-points' %}">Give Points</a>
          </div>
      </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

    {% block footer-nav %}
    <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                {% if request.user.is_authenticated %}
                    <li class="list-group-item"><a href="{% url 'leaderboard' %}">My Points</a></li>
                    <li class="list-group-item"><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
                    <li class="list-group-item"><a href="{% url 'history' %}">My History</a></li>
                    <li class="list-group-item"><a href="{% url 'logout' %}" >Log out ({{request.user.username}})</a></li>
                {% else %}
                    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
    // Mobile Safari in standalone mode
if (('standalone' in window.navigator) && window.navigator.standalone) {

    window.addEventListener('load', function() {

        var links = document.links,
            link,
            i;

        for (i = 0; i < links.length; i++) {
            // Don't do this for javascript: links
            if (~(link = links[i]).href.toLowerCase().indexOf('javascript')) {
                link.addEventListener('click', function(event) {
                    top.location.href = this.href;
                    event.returnValue = false;
                }, false);
            }
        }

    }, false);

}
</script>
{% block extra_js %}{% endblock %}
</body>
</html>